extends layout

block content
  section.cta
    .container
      .row.centered
        .col-lg-12
          h1 Learn to Play the Harmonica Today
          p This new pattern-based approach unlocks the secrets to accelerated learning. Try it for free.
        .col-lg-8.col-lg-offset-2
          img.img-responsive(src='//placehold.it/1280x720', alt='')
      .row.centered
        h3 Try it Out For Free
        button.btn.btn-lg.btn-primary Login with Facebook
        p or Sign up with your email...
        form(role='form', action='#', method='post', enctype='plain')
          .col-md-3
            .form-group
              input#name1.form-control(type='name', name='Name', placeholder='Your First Name')
          .col-md-3
            .form-group
              input#email1.form-control(type='email', name='Mail', placeholder='Enter email')
          .col-md-3
            .form-group
              input#email1.form-control(type='email', name='Password', placeholder='Create a password')
          .col-md-3
            button.btn.btn-lg.btn-success.btn-block(type='submit') Sign Up For Free

  section.intro
    .container
      .row.centered
        .col-sm-12
          h2 Go From Beginner to Pro With These Harmonica Lessons
        .col-sm-4
          img.img-responsive(src='//placehold.it/800x600', alt='')
          h4 Practice Should Be Fun
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        .col-sm-4
          img.img-responsive(src='//placehold.it/800x600', alt='')
          h4 Play Music Not Drills
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        .col-sm-4
          img.img-responsive(src='//placehold.it/800x600', alt='')
          h4 Amaze Your Friends &amp; Family
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry.

  section.features
    .container
      .row
        .col-lg-6.col-lg-push-3.col-md-8.col-md-push-2
          h2 Learn the Building Blocks of Great Playing One Step at Time
          :markdown
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec tincidunt dui, eget semper ante. Integer sit amet laoreet ante. Sed commodo ullamcorper mauris, nec gravida velit vestibulum id. Etiam a semper nibh, in pretium urna. Nunc congue, velit id hendrerit vulputate, massa leo elementum nulla, at hendrerit nibh lorem vel nunc. Aliquam in ullamcorper nunc. Vestibulum mi dui, congue sed tortor sed, malesuada rutrum lacus. Ut rutrum eleifend nulla, et sagittis eros. Nam a sodales justo, et mollis turpis. Etiam non urna non risus mollis dignissim. Cras sollicitudin a mi nec volutpat. Proin feugiat leo at iaculis adipiscing. Nullam hendrerit, neque id mattis gravida, velit lacus vehicula orci, sed consectetur enim erat ut dolor. Donec sit amet lacus nec leo volutpat elementum eu a augue. Pellentesque tincidunt ipsum ipsum, ut sagittis metus feugiat ac.

            Nulla facilisi. Praesent consectetur vulputate massa bibendum rhoncus. In sapien enim, ornare sed pellentesque eget, gravida nec arcu. In tempor nisl nec diam ornare, eget hendrerit metus tempus. Mauris semper, tellus a hendrerit varius, nisi urna pretium elit, molestie ornare dolor nisi eget neque. Duis tincidunt convallis elit, sit amet mollis est porta ut. Integer nec justo sit amet tellus dignissim semper rhoncus ac diam. Sed nec ipsum mi. Phasellus eleifend mi vel felis dignissim, at placerat nulla posuere. Aliquam quam erat, lobortis at diam eu, mattis consequat lorem. Donec vehicula vehicula condimentum. Mauris bibendum non dui et ornare. Cras vitae risus nulla. Sed vitae tempus massa, eget sodales lectus. Nulla nec ipsum sodales ipsum aliquet fringilla.