extends base

block vars
  - var bodyclass = page.layout;

block content
  h2= page.title
  div.meta
    time(datetime= date_xml(page.date))= date(page.date)
    if page.tags
      h6 Tags: 
      ul.tags
        each tag in page.tags
          li= tag
  
  != page.content

  include _partial/article_pagination