nav.pagination
  if page.prev
    a(href=config.root + page.prev.path, title="Previous Article: #{page.prev.title}", class='previous')
      | &larr; Previous Article
  if page.next
    a(href=config.root + page.next.path, title="Next Article: #{page.next.title}", class='next')
      | Next Article &rarr;