/*
* Scut, a collection of Sass utilities
* to ease and improve our implementations of common style-code patterns.
* v0.10.3
* Docs at http://davidtheclark.github.io/scut
*/
/* line 35, ../_sass/_layout.sass */
meta.foundation-mq-small {
  font-family: "/only screen/";
  width: lower-bound(0em, 43.75rem); }

/* line 38, ../_sass/_layout.sass */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:lower-bound(43.8125rem, 60rem))/";
  width: lower-bound(43.8125rem, 60rem); }

/* line 41, ../_sass/_layout.sass */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:lower-bound(60.0625rem, 75rem))/";
  width: lower-bound(60.0625rem, 75rem); }

/* line 44, ../_sass/_layout.sass */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:lower-bound(75.0625rem, 93.75rem))/";
  width: lower-bound(75.0625rem, 93.75rem); }

/* line 47, ../_sass/_layout.sass */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:lower-bound(93.8125rem))/";
  width: lower-bound(93.8125rem); }

/* line 52, ../_sass/_layout.sass */
html, body {
  height: 100%; }

/* line 55, ../_sass/_layout.sass */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 63, ../_sass/_layout.sass */
body {
  background: white;
  padding: 0;
  margin: 0;
  line-height: 1;
  position: relative;
  cursor: default; }

/* line 71, ../_sass/_layout.sass */
img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle; }

/* line 79, ../_sass/_layout.sass */
textarea {
  height: auto;
  min-height: 50px; }

/* line 84, ../_sass/_layout.sass */
select {
  width: 100%; }

/* line 88, ../_sass/_layout.sass */
.hide {
  display: none; }

/*   Syntax Quick Reference
 * --------------------------
 * +column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $g)
 * +span($ratio: 1, $offset: 0)
 * +shift($ratios: 0, $col_or_span: column, $gutter: $g)
 * +unshift()
 * +edit()  // 
 * +center($max_width: 1410px, $pad: 0)
 * +stack($pad: 0, $align: false)
 * +unstack()
 * +align($direction: both)
 * +cf() */
/* line 7, ../_sass/_typography.sass */
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #1a1a1a;
  line-height: 1.5rem;
  font-weight: 400; }

/* line 16, ../_sass/_typography.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  color: #1a1a1a; }

/* line 21, ../_sass/_typography.sass */
h1 {
  font-size: 2rem;
  line-height: 2.5rem; }
  @media only screen and (min-width: lower-bound(43.8125rem, 60rem)) {
    /* line 21, ../_sass/_typography.sass */
    h1 {
      font-size: 4rem;
      line-height: 5rem; } }
  @media only screen and (min-width: lower-bound(60.0625rem, 75rem)) {
    /* line 21, ../_sass/_typography.sass */
    h1 {
      font-size: 6rem;
      line-height: 8rem; } }
  /* line 30, ../_sass/_typography.sass */
  h1 a {
    text-decoration: none; }

/* line 33, ../_sass/_typography.sass */
h2 {
  font-size: 1.5rem;
  line-height: 2rem; }
  @media only screen and (min-width: lower-bound(43.8125rem, 60rem)) {
    /* line 33, ../_sass/_typography.sass */
    h2 {
      font-size: 2rem;
      line-height: 2.5rem; } }
  @media only screen and (min-width: lower-bound(60.0625rem, 75rem)) {
    /* line 33, ../_sass/_typography.sass */
    h2 {
      font-size: 3rem;
      line-height: 3.5rem; } }

/* line 43, ../_sass/_typography.sass */
h3 {
  font-size: 1.25rem;
  line-height: 1.5rem; }
  @media only screen and (min-width: lower-bound(43.8125rem, 60rem)) {
    /* line 43, ../_sass/_typography.sass */
    h3 {
      font-size: 1.5rem;
      line-height: 2rem; } }

/* line 50, ../_sass/_typography.sass */
p, h4, h5, h6, dl, ol, ul, blockquote, cite {
  font-size: 1.125rem;
  line-height: 1.5rem; }
  @media only screen and (min-width: lower-bound(43.8125rem, 60rem)) {
    /* line 50, ../_sass/_typography.sass */
    p, h4, h5, h6, dl, ol, ul, blockquote, cite {
      font-size: 1.25rem;
      line-height: 2rem; } }

/* line 57, ../_sass/_typography.sass */
small {
  font-size: 0.875rem;
  line-height: 1.5rem; }
  @media only screen and (min-width: lower-bound(43.8125rem, 60rem)) {
    /* line 57, ../_sass/_typography.sass */
    small {
      font-size: 1rem; } }

/* line 63, ../_sass/_typography.sass */
a {
  color: #008cba;
  text-decoration: underline;
  line-height: inherit; }
  /* line 67, ../_sass/_typography.sass */
  a:hover, a:focus {
    color: #269dc4;
    cursor: pointer; }
  /* line 70, ../_sass/_typography.sass */
  a img {
    border: none; }

/* line 73, ../_sass/_typography.sass */
hr {
  border: solid #333333;
  border-width: 1 0 0;
  clear: both;
  margin: 1rem 0;
  height: 0; }

/* line 80, ../_sass/_typography.sass */
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

/* line 84, ../_sass/_typography.sass */
em, i {
  font-style: italic;
  line-height: inherit; }

/* line 88, ../_sass/_typography.sass */
strong, b {
  font-weight: bold;
  line-height: inherit; }

/* line 92, ../_sass/_typography.sass */
ul, ol {
  margin-bottom: 1rem;
  margin-left: 0.5rem; }

/* line 96, ../_sass/_typography.sass */
abbr, acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: #1a1a1a;
  border-bottom: 1px dotted gray;
  cursor: help; }

/* line 103, ../_sass/_typography.sass */
blockquote {
  margin: 0 0 1.25rem;
  padding-left: 1rem;
  border-left: 1px gray; }
  /* line 107, ../_sass/_typography.sass */
  blockquote cite {
    display: block;
    color: #1a1a1a; }
    /* line 110, ../_sass/_typography.sass */
    blockquote cite:before {
      content: "\2014 \0020"; }
    /* line 112, ../_sass/_typography.sass */
    blockquote cite a,
    blockquote cite a:visited {
      color: #008cba; }

/* line 111, ../_sass/_grid.sass */
* {
  background: rgba(0, 0, 0, 0.05);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#10000000, endColorstr=#10000000); }

/* line 4, ../_sass/_styles.sass */
body {
  background: #cccccc;
  *zoom: 1;
  width: auto;
  max-width: 800px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem; }
  /* line 185, ../_sass/_grid.sass */
  body:before, body:after {
    content: "";
    display: table; }
  /* line 188, ../_sass/_grid.sass */
  body:after {
    clear: both; }

/* line 7, ../_sass/_styles.sass */
header {
  background: #008cba;
  text-align: center;
  color: white;
  padding: 1rem; }

/* line 13, ../_sass/_styles.sass */
section {
  *zoom: 1; }
  /* line 185, ../_sass/_grid.sass */
  section:before, section:after {
    content: "";
    display: table; }
  /* line 188, ../_sass/_grid.sass */
  section:after {
    clear: both; }

/* line 16, ../_sass/_styles.sass */
article {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 65.66667%;
  margin-left: 0%;
  margin-right: 3%; }
  /* line 185, ../_sass/_grid.sass */
  article:before, article:after {
    content: "";
    display: table; }
  /* line 188, ../_sass/_grid.sass */
  article:after {
    clear: both; }
  /* line 62, ../_sass/_grid.sass */
  article:last-child {
    margin-right: 0%; }
  /* line 18, ../_sass/_styles.sass */
  article div {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 31.33333%;
    margin-left: 0%;
    margin-right: 3%; }
    /* line 185, ../_sass/_grid.sass */
    article div:before, article div:after {
      content: "";
      display: table; }
    /* line 188, ../_sass/_grid.sass */
    article div:after {
      clear: both; }
    /* line 56, ../_sass/_grid.sass */
    article div:nth-child(3n) {
      margin-right: 0%;
      float: right; }
    /* line 59, ../_sass/_grid.sass */
    article div:nth-child(3n + 1) {
      clear: both; }
  /* line 20, ../_sass/_styles.sass */
  article .feature {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%; }
    /* line 185, ../_sass/_grid.sass */
    article .feature:before, article .feature:after {
      content: "";
      display: table; }
    /* line 188, ../_sass/_grid.sass */
    article .feature:after {
      clear: both; }
    /* line 62, ../_sass/_grid.sass */
    article .feature:last-child {
      margin-right: 0%; }

/* line 22, ../_sass/_styles.sass */
aside {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 31.33333%;
  margin-left: 0%;
  margin-right: 3%; }
  /* line 185, ../_sass/_grid.sass */
  aside:before, aside:after {
    content: "";
    display: table; }
  /* line 188, ../_sass/_grid.sass */
  aside:after {
    clear: both; }
  /* line 62, ../_sass/_grid.sass */
  aside:last-child {
    margin-right: 0%; }

/* line 24, ../_sass/_styles.sass */
footer {
  *zoom: 1;
  width: auto;
  max-width: 800px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0; }
  /* line 185, ../_sass/_grid.sass */
  footer:before, footer:after {
    content: "";
    display: table; }
  /* line 188, ../_sass/_grid.sass */
  footer:after {
    clear: both; }

/*# sourceMappingURL=app.css.map */
