//- 
//- Category
//- List pages for one category
//- Should work with any category mentioned in a pages front-matter.


extends base

block vars
  - var bodyclass = 'category'

block content
  header: h1=page.category
  !=page.content
  ul.article-list
    //- query for get posts in category? http://hexo.io/docs/helpers.html#get_posts
    each page in get_posts([query])
      li: article
        h2: a(href=config.root + page.path)= page.title
        !=list_tags
        p=page.excerpt
        button Read More...
