// edit()

body.category
  
  [role="main"]
    padding-bottom 2.5rem

  .featured
    background-color shade(blue, 90%)
    color white - 20%
    padding 2rem 1rem
    group()

  h1.title
    margin 0
    color white - 4%
    +from(mobile-cutoff)
      text-align center

  .summary
    p
      font-size 1.2rem
    +from(3)
      margin 0 10%

  .tag-list
    center: desktop-cutoff
    padding 0
    margin 1rem 0
    +from(3)
      text-align center
    h6
      color white - 30%
    ul.tags
      inline-list(.8rem)
      display inline-block
      +from(3)
        reset-list()
        inline-list(.5rem)
      li
        margin-top 0
        +from(3)
          margin-top .5rem
          a
            button(olive, textColor: tint(olive,90%))

  .article-list
    margin: 0 unit(g,'%')

    article
      display none
      margin-top 1rem
      +at(3)
        column(4/5, offset: 1/10)
      +from(4)
        margin-top: unit(g,'%')
        column(1/2, cycle: 2)
        box-shadow(inset 0 0 6px rgba(#000,.05))
        padding 1rem
        background-color white + 4%
        height 16rem
        overflow hidden
      +desktop()
        height 14rem
      h2
        h4()
        line-height 1.4
        font-weight normal
        margin 0
        a
          color black
          border-bottom 1px solid silver
          padding-bottom .1rem
          &:hover, &:active
            color blue
            transition()

      a.more
        display inline-block
        margin-top .4rem

      &.featured
        uncycle()
        column()
        height auto
        background-color tint(yellow, 85%)
        margin 0 -unit(g,'%')
        padding-left 2rem
        padding-right 2rem
        color black + 10%
        p
          font-size 1.2rem
        h2 a
          font-weight bold
          font-size 1.8rem
        // img
        //   display: inline-block
        //   column(1/3)
    