
body.category

  h1.title
    margin 0
    padding 0
    color rgba(white, 93%)

    +from(mobile-cutoff)
      text-align center

  .feature
    background shade(color4,50%)
    color rgba(white, 80%)
    padding 2rem 0
    text-align left

    .summary
      center(48rem)

      p
        font-size 1.3rem

        +from(3)
          font-size 1.5rem

.tag-list
  center(desktop-cutoff)
  padding 0
  margin 2rem 0

  +from(3)
    text-align center

  h6
    color white - 30%

  ul.tags
    inline-list(.8rem)
    display inline-block

    +from(3)
      reset-list()
      inline-list(.5rem)

    li
      margin-top 0

      +from(3)
        margin-top .5rem

      a

        +from(3)
          button(color1, textColor: tint(color1,90%))
          border none

        &.active
          color black

          +from(3)
            background-color shade(color1,60%)
            color white

            &:hover
              background-color shade(color1,60%)

.article-list
  margin-bottom 1.25rem

  .article
    display none
    margin-bottom 2rem

    +from(4)
      margin-bottom 0
      width 47%
      margin 1.5%
      box-shadow(inset 0 0 6px rgba(#000,.05))
      padding 1rem
      background tint(color4, 95%)
      height 18rem
      overflow hidden

    .headline a
      color black
      border none
      font-size 130%
      text-align center
      margin 0 auto

      &:hover
        color color1

    .title
      font-size 1.25rem
      line-height 1.4
      font-weight normal
      margin 0
      text-align left

      & > a
        color black
        border-bottom 1px solid silver
        padding-bottom .1rem

        &:hover, &:active
          color blue
          transition()

    a.more
      display inline-block
      margin-top 0

    &.featured
      display none
      width 106%
      height auto
      background tint(color2, 85%)
      color black + 10%
      margin-left (g*-1)%
      margin-right @margin-left
      margin-top 0
      padding (g)%
      position relative
      border-bottom 5px solid color1
      border-top @border-bottom

      +from(3)
        margin-left (g/2)%
        margin-right (g/2)%
        padding 2rem
        width auto

      p
        font-size 1.1rem

        +from(3)
          font-size 1.2rem

      h2 a
        font-weight bold
        font-size 1.8rem
        margin 2rem 0 0

      img
        display: inline-block
        float left
        margin 1.4rem .75rem .8rem 0

        +from(mobile-cutoff)
          width 40%

  .full .article
    margin 0 auto 3.5rem
    padding-bottom 2rem

    +from(4)
      width 100%
      height auto
      background #f4f3ef
      box-shadow none
      padding 0 0 3.5rem

    .title
      @extends h1
      font-weight bold

      +from(3)
        text-align center
        font-size 3rem
        margin 3rem 1rem
        padding 0

      a
        border none

        &:hover
          color color1

    .meta
      +from(3)
        text-align center

    .content
      padding 0
