// # Feature

.feature
  text-align center
  background-color tint(color2, 70%)
  padding-top 1rem
  padding-bottom @padding-top

  +from(3)
    padding-top 2rem
    padding-bottom @padding-top

  .headline
    margin-top 0
