// edit()

header-background-color = color1

header.main
  gradient(header-background-color, 7%)
  -webkit-tap-highlight-color rgba(0,0,0,0)
  line-height 150%
  padding 0
  min-height 3rem
  +from(mobile-cutoff)
    padding 0
  // +desktop()
  //   padding 1rem 0 1.2rem
  div
    center(desktop-cutoff, padding false)
  h1
    margin 0 0 0 1rem
    display inline-block
    +from(mobile-cutoff)
      display block
      margin 0
      text-align center
    a
      color white
      opacity .85
      font-weight 700
      font-size 1.4rem
      background none
      border-bottom none
      +from(mobile-cutoff)
        font-size 1.8rem
      +desktop()
        font-size 2rem
        text-align center
      &:hover
        opacity 1
        color tint(yellow, 70%)
        transition()
  .js-nav-active &
    position relative
    width 100%
    z-index 3

nav.main-menu
  .js &
    clip rect(0 0 0 0)
    max-height 0
    display block
    overflow hidden
    zoom 1
    position relative
    width 100%
    margin 0
    margin-top .6rem
  +from(mobile-cutoff)
    margin-top 0 !important
    float none
    width auto
    &.closed
      max-height none
  &.opened
    max-height 9999px
  ul
    line-height 1.5rem
    width 100%
    inline-list()
    margin-left 0
    margin-bottom 0
    margin-top 0
    +from(mobile-cutoff)
      text-align center
      border-top none
      line-height 1rem
      margin-bottom .75rem
    li
      display block
      width 100%
      float none
      padding .75rem 0
      margin-top 0
      gradient(shade(header-background-color,85%), 5%)
      border-bottom 1px solid black
      &:hover, &.active, .active &
        color tint(header-background-color, 50%)
        background shade(header-background-color, 50%)
        transition()
      +from(mobile-cutoff)
        display inline-block
        width auto
        background none
        border-bottom none
        &:hover
          border-bottom none
          background none
  a
    // padding .75rem
    -webkit-tap-highlight-color rgba(0,0,0,0)
    text-decoration none
    font-weight 400
    font-size 1.125rem
    color white
    opacity .8
    min-width 100%
    border-bottom none
    margin-left 1rem
    &.active, .active &
      color header-background-color
      opacity 1
      transition()
    +from(mobile-cutoff)
      margin-left 0
      opacity .65
      border-bottom 1px solid rgba(0,0,0,0)
      padding-bottom .2rem
      vertical-align middle
      &.active, .active &, &:hover
        color tint(yellow, 70%)
        border-bottom 1px solid white - 35%
        background none
        opacity 1
        transition()

.nav-toggle
  -webkit-tap-highlight-color rgba(0,0,0,0)
  -webkit-touch-callout none
  user-select none
  text-indent -20rem
  absolute(top .75rem right .5rem)
  overflow hidden
  width 3.7rem
  float right
  border-bottom none
  font-size 2rem
  &:hover
    border-bottom none
    opacity .7
  +from(mobile-cutoff)
    display none
  &:before
    color tint(header-background-color, 70%)
    font-family "icons"
    text-align center
    content "\e802"
    text-indent 0
    speak none
    absolute(top right .5rem)
  &.active:before
    font-size 2rem
    content "\e809"

.mask
  background rgba(0,0,0, .5)
  visibility hidden
  absolute(top 3rem bottom right left)
  opacity 0
  z-index 2
  transition(opacity 350ms ease-in-out)
  .android &
    -webkit-transition none
    transition none
  .js-nav-active &
    visibility visible
    opacity 1
  +from(mobile-cutoff)
    display none !important
    opacity 0 !important