font-face(icons, '/fonts')

[class$="-icon"]:before, [class*="-icon "]:before
  font-family "icons"
  font-style normal
  font-weight normal
  speak none
  display inline-block
  text-decoration inherit
  width 1rem
  margin-right .55rem
  text-align center
  font-variant normal
  text-transform none
  line-height 1rem

.bookmark-icon
  &:before
    content '\e800'

.shield-icon
  &:before
    content '\e801'

.menu-icon
  &:before
    content '\e802'

.twitter-icon
  &:before
    content '\e803'

.attention-icon
  &:before
    content '\e805'

.close-icon
  &:before
    content '\e809'

.check-icon
  &:before
    content '\e80b'

.star-icon
  &:before
    content '\e80c'

.discussion-icon
  &:before
    content '\e80d'

.view-icon
  &:before
    content '\e80e'

.quote-icon
  &:before
    content '\e80f'

.rss-icon
  &:before
    content '\e811'

.download-icon
  &:before
    content '\e816'

.clock-icon
  &:before
    content '\e81d'

.thumbs-up-icon
  &:before
    content '\e81e'

.pinterest-icon
  &:before
    content '\e823'

.tumblr-icon
  &:before
    content '\e824'

.google-icon
  &:before
    content '\e825'

.plus-icon
  &:before
    content '\e827'

.info-icon
  &:before
    content '\e829'

.help-icon
  &:before
    content '\e82a'

.pin-icon
  &:before
    content '\e82d'

.facebook-icon
  &:before
    content '\e830'

