font-face(icons, '/fonts')

[class$="-icon"]:before, [class*="-icon "]:before
  font-family "icons"
  font-style normal
  font-weight normal
  speak none
  display inline-block
  text-decoration inherit
  width 1rem
  margin-right .55rem
  text-align center
  font-variant normal
  text-transform none
  line-height 1rem

.attention-icon:before
    content '\21'

.plus-icon:before
    content '\2b'

.help-icon:before
    content '\3f'

.bookmark-icon:before
    content '\62'

.check-icon:before
    content '\63'

.download-icon:before
    content '\64'

.view-icon:before
    content '\65'

.facebook-icon:before
    content '\66'

.google-icon:before
    content '\67'

.discussion-icon:before
    content '\68'

.info-icon:before
    content '\69'

.clock-icon:before
    content '\6b'

.thumbs-up-icon:before
    content '\6c'

.menu-1-icon:before
    content '\6d'

.pin-icon:before
    content '\6e'

.pinterest-icon:before
    content '\70'

.quote-icon:before
    content '\71'

.star-icon:before
    content '\72'

.shield-icon:before
    content '\73'

.twitter-icon:before
    content '\74'

.tumblr-icon:before
    content '\75'

.close-1-icon:before
    content '\78'

.rss-icon:before
    content '\7a'
