// # Layout

// ## Body

body
  // gradient(tint(color2,80%),6%)
  // background-attachment fixed
  background content-bg-color

// ## Container
// Holds groups of things and contains it to desktop size

.container
  center(desktop-cutoff, (g)%)

// ## Fluid Images

img
  max-width 100%
  height auto
  -ms-interpolation-mode bicubic
  display inline-block
  vertical-align middle
