// +edit

$header-height: rem(60)
$small-header-height: $header-height/1.5
$header-background-color: $color1

// layout

html
  +linear-gradient(gray(92), gray(82))
  background-attachment: fixed

body
  +center($site-width)

[role="main"]
  +center($site-width, $pad: 1rem)
  background: #fff

article
  padding-bottom: 2rem
  +breakpoint(medium)
    +column(4/5, $offset: 1/10)
  +breakpoint(large)
    +column(2/3, $offset: 1/6)

// misc styles

header.logo
  background-color: $header-background-color
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  padding: 1rem
  text-align: center
  a
    color: tint($header-background-color, 80%)
    font-weight: 400
    &:hover
      +transition(all 200ms ease-in-out)
      color: tint($header-background-color, 20%)

// .feature
//   background-color: $color6
//   min-width: $site-width
//   padding: .1rem 2rem

h1.headline
  margin-bottom: 0
  text-align: center

h3.subheading
  margin-top: 0
  font-weight: normal  
  text-align: center

button
  +button(shiny)
  margin-bottom: 1.5rem
  font-weight: normal

.video
  +flex-video-container