=breakpoint($range: medium)
  @if $range == medium
    @media #{$medium-up}
      @content
  @if $range == large
    @media #{$large-up}
      @content
  @if $range == xl
    @media #{$xlarge-up}
      @content

=fixed-header
  header.fixed
    position: fixed
    z-index: 3
    width: 100%
    left: 0
    top: 0
  [role="main"]
    margin-top: $small-header-height !important
    @media #{$medium-up}
      margin-top: $header-height !important