layout: empty
----
.container
  header.header
    h1 Gavin Bertrand
    nav.navigation
      input#toggle(type='checkbox')
      div
        label.toggle(for='toggle'
          data-open='m'
          data-close='x'
          onclick)
        ul.menu
          li: a(href='#') RACING
          li: a(href='#') ART
          li: a(href='#') LEGOS
          li: a(href='#') MUSIC
          li: a(href='#') BLOG
  article
    h2 This Is the Title of the Article
    p A really great paragraph to get things moving along here.
